<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="icon" type="image/png" href="../public/img/fav.png" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
<title>Changer le mot de passe</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
<link rel="stylesheet" type="text/css" href="../public/css/change_pass.css">
</head>



<body>


<div class="signup-form">
    <form action="" method="post">
		<h3> <b>Changer le mot de passe </b></h3>
		<p>Entrez les informations necéssaires s'il vous plait</p>
		<hr>
	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon"><i class="fa fa-lock"></i></span>
			<input type="password" class="form-control" name="mdp" placeholder="Nouveau mot de passe" required="required">
		</div>
        </div>
	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon">
				<i class="fa fa-lock"></i>
				<i class="fa fa-check"></i>
			</span>
			<input type="password" class="form-control" name="mdp1" placeholder="Confirmer le nouveau mot de passe" required="required">
		</div>
        </div>
	<div class="form-group">
          	<button type="submit" class="btn btn-primary btn-lg" name="s_inscrire">Confirmer</button>
        	</div>
</form>
<script src="../public/js/YouTubePopUp.jquery.js"></script>
    <script src="../public/js/owl.carousel.min.js"></script>
    <script src="../public/js/imagesloaded.min.js"></script>
    <script src="../public/js/custom.js"></script>
    <script src="../public/js/popper.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script>
</body>
</html>