[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/var/www/html/Shared-Server-1/Server/pull-auto start
ExecStop=/var/www/html/Shared-Server-1/Server/pull-auto stop
